.blood-bank-donation-process-procedure{
  display: flex;
  margin: 0 10px;
  justify-content: space-around;
}

.donation-procedure-1,
.donation-procedure-2,
.donation-procedure-3,
.donation-procedure-4{
  width: 22%;
  background-color: #f8f8fb;
  padding: 0 10px;
  
}

.blood-bank-donation-process-procedure img {
  margin: 0 auto;
}

.blood-bank-donation-process-procedure h3 {
  margin-top: 25px;
}

.blood-bank-donation-process-procedure p {
  font-weight: 500;
  color: rgb(88, 86, 86);
}