.blood-bank-request-appointment-main {
    display: flex;
    /* width: 95%; */
    justify-content: space-around;
    margin: 100px 0;
    background-image: linear-gradient(
    rgba(56, 54, 54, 0.4),
    rgba(56, 54, 54, 0.4)
  ),url('../BloodBankRequestAppointmentImages/backgroundBlood.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  

}

.request-appointment-image-div {
    width: 100%;
    text-align: center;
    margin-top: 60px;
} 