.card2 {
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align:center;
}

.card2 img {
  width: 100%;
  height: auto;
}

.card2 h2 {
  font-size: 24px;
  margin-top: 20px;
}

.card2 p {
  margin-top: 10px;
}

.card-container1 {
  display: flex;
  justify-content: center;
}

.card-row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
