.campaign-jumbotron {
    background-image: url("https://images.unsplash.com/photo-1571497436002-2240d360c2df?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: center;
    color: rgb(6, 4, 4);
    text-align: center;
    padding: 5rem;
    margin-bottom: 2rem;
  }
  
  .campaign-jumbotron h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .campaign-jumbotron p {
    margin-top: -90px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   
  }
  .campaign-icons-container {
   margin-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .campaign-icon {
    
    font-size: 34px;
    margin: 10px 10px;
    fill: #ff0000;
    border: black;
    
  }
  