.blood-donation-contact-us-main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .blood-donation-contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://images.unsplash.com/photo-1615461066841-6116e61058f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1883&q=80);
    background-size: cover;
  }
  
  .blood-donation-contact .contact-us-content {
    max-width: 800px;
    text-align: center;
  }
  
  .blood-donation-contact .contact-us-content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
  }
  
  .blood-donation-contact .contact-us-content p {
    font-weight: 300;
    color: #fff;
  }
  
  .contact-us-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .contact-us-container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .contact-us-container .contactInfo .contact-us-box .contact-us-icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
  }
  
  .contact-us-container .contactInfo .contact-us-box .contact-us-text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
  }
  
  .contact-us-container .contactInfo .contact-us-box .contact-us-text h3 {
    font-weight: 500;
    color: #00bcd4;
  }
  
  .blood-donation-contact-form {
    width: 40%;
    padding: 40px;
    background: #fff;
  }
  
  .blood-donation-contact-form h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
  }
  
  .blood-donation-contact-form .contact-us-inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
  .blood-donation-contact-form .contact-us-inputBox input,
  .blood-donation-contact-form .contact-us-inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  
  .blood-donation-contact-form .contact-us-inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: color 0.3s;
  }
  
  .blood-donation-contact-form .contact-us-inputBox input:focus ~ span,
  .blood-donation-contact-form .contact-us-inputBox input:valid ~ span,
  .blood-donation-contact-form .contact-us-inputBox textarea:focus ~ span,
  .blood-donation-contact-form .contact-us-inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translate(-20px);
  }
  
  .blood-donation-contact-form .contact-us-inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }
  
  @media (max-width: 991px) {
    .blood-donation-contact {
      padding: 50px;
    }
  
    .contact-us-container {
      flex-direction: column;
    }
  
    .contact-us-container .contactInfo {
      margin-bottom: 40px;
    }
  
    .contact-us-container .contactInfo,
    .blood-donation-contact-form {
      width: 100%;
    }
  }
  